@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;600;700;800&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Cairo", ui-sans-serif, system-ui, sans-serif;
  --color-primary: #4f46e5; /* Indigo 600 */
  --color-primary-dark: #4338ca; /* Indigo 700 */
  --color-accent: #f43f5e; /* Rose 500 */
}

body {
  background-color: #f8fafc; /* Slate 50 */
}
